
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
.fix{
	overflow:hidden;
}
.mpz{
	margin:0;
	padding:0;
}
.cm{
	padding:10px;
}
a{
	text-decoration:none;
}
a:focus{
	outline:0px;
	background-color:none;
}
.section-padding{
	padding:50px 0px;
}

/**********    header-top css     *********/

.header-top-bg {
    position: absolute;
    background-color: #000000;
    opacity: 0.11111;
    top: 0;
    width: 100%;
    height: 68px;
}
.up{
	position:absolute;
	top:0;
	z-index:3;
}
.navbar-default {
    background-color:none;
	background:none;
    border: none;
	margin:0;
	padding:0;
	position:relative;
}
.teg{
	margin-top:10px;
}
.teg h6{
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	border-left:1px solid #afc8dd;
	padding:5px 0px 0px 15px;
	font-weight: 500;
}

.menu{

}
.menu li{
	display:inline-block;
	list-style:none;
	margin: 0px 10px;
	//border-top:2px !important;
}
.menu li a{
	color:#fff !important;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	padding:23px 0px;
}

.menu li:hover{
	border-top:1px solid #32b0ee;
	transition:all 0.3s;
}
#activee{
	border-top:1px solid #32b0ee;
}


/*******     header-area css     *******/
.header-section{
	background-image:url('image/header.jpg');
	height:800px;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
}

.slider-area{
	height:732px;
	position: relative;
}

.header-slider-area{
	height:355px;
	position:absolute;
	bottom:0;
}

.header-content{
	text-align:center;
	height: auto;
	width: 650px;
	margin: 0 auto;
}
.header-content h1 {
    font-size: 62px;
    color: #fff;
}
.header-content h2{
	color: #fff;
	font-size: 48px;
	font-weight:100;
}

.header-content h2 span {
    color: #0feb9e;
    font-size: 48px;
}
.content-style{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.content-style span {
    width: 30px;
    height: 1px;
    background-color:#0feb9e;
    display: block;
}
.content-style h4{
	color:#fff;
	padding: 0px 45px;
}

.socail-icon{
	margin-top:80px;
}
.socail-icon ul{
	margin-bottom:35px;
}
.socail-icon ul li{
	display:inline-block;
	list-style:none;
	padding: 0px 6px
}
.socail-icon ul li a{
	font-size:18px;
	color:#ddd;
}

.head-slider .owl-dots {
	position:absolute;
	right:0;
	top:0;
	transform:rotate(90deg);
}
.head-slider .owl-dot {
    background:none;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid #999;
}
.head-slider .owl-dot.active {
    background: #fff;
	border: 1px solid #fff;
}


/*********      testemonial slider css       *********/

.feture{
	width:100%;
	/*! height:460px; */
	background-color:#f4f7f9;
	padding-bottom: 115px;
}
.header-title{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}
.header-title h2{
	font-size:28px;
	color:#0eb493;
	font-weight:900;
	margin-bottom: 23px;
	text-transform: uppercase;
}
.ico-style{
	position: relative;
	display: flex;
	align-items: center;
}
.ico-style span:first-child{
	height:1px;
	background:#c2ccd5;
	width:90px;
	display: block;
}
.ico-style span:last-child{
	height:1px;
	background:#c2ccd5;
	width:90px;
	display: block;
}
.header-icon{
	padding: 0px 20px;
	color: #cdcfd1;
	font-size: 18px;
}
.feture-slider{
	margin-top: 60px;
}
.test-slider{
	display: flex;
	margin:0 auto;
}
.icon img{
	height:40px;
	width:40px !important;
}
.test-content{
	padding-left: 15px;
}
.test-content h2{
	margin: 0;
	margin-bottom: 20px;
	font-size:20px;
	color:#062033;
	font-weight: 600;
}
.test-content p{
	font-size:15px;
	color:#567d9a;
	line-height: 22px;
}
.feture-slider .owl-dots {
	position:absolute;
    text-align: center;
	left:0;
	right:0;
	bottom:-78px;
}
.feture-slider .owl-dot {
    background:none;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid #999;
}
.feture-slider .owl-dot.active {
    background: #062033;
	border: 1px solid #062033;
}


/********            work-area css             *********/

.bg-c{
	/*! background-color:#FFF; */
}

.works{
	text-align:center;
	background-color:#FFF;
}
.works p{
	font-size:18px;
	color:#567d9a;
	font-weight:400;
	width:70%;
	margin:0 auto;
}

.work-isotope{
	display: flex;
	flex-wrap: wrap;
}
/********    isotope menu   ************/

.masonry-menu{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.masonry-menu ul li{
	display:inline-block;
	list-style:none;
	margin:0px 5px;
}
.masonry-menu ul li button{
	color:#fff;
	font-size:17px;
	text-decoration:none;
	background-color:#0eb493;
	border:1px solid #0eb493;
	border-radius:5px;
	padding: 8px 20px;
}

.isotope-picture{
	width:25%;
	display:inline-block;
	overflow: hidden;
	height:253px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-color:gray;
	
}
.isotope-picture-hover{
	height:100%;
	width:100%;
	background-color:#22b798;
	opacity:0.9;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: scale(0);
	transition:all 0.5s;
}

.eye{
	height:40px;
	width:40px;
	border:1px solid #fff;
	border-radius:50px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:18px;
}

.isotope-picture-hover h6{
	color:#fff;
	//font-weight:400;
	font-size:16px;
	line-height:26px;
	margin-top:20px;
}

.isotope-picture:hover .isotope-picture-hover{
	transform:scale(1);
	transition:all 0.5s;
}

.isotope-picture:nth-child(1){
	background-image:url(image/masonry1.jpg);

}
.isotope-picture:nth-child(2){
	background-image:url(image/masonry2.jpg);
	
}
.isotope-picture:nth-child(3){
	background-image:url(image/masonry3.jpg);
	
}
.isotope-picture:nth-child(4){
	background-image:url(image/masonry4.jpg);
	
}
.isotope-picture:nth-child(5){
	background-image:url(image/masonry5.jpg);
	
}
.isotope-picture:nth-child(6){
	background-image:url(image/masonry6.jpg);
	
}
.isotope-picture:nth-child(7){
	background-image:url(image/masonry7.jpg);
	
}
.isotope-picture:nth-child(8){
	background-image:url(image/masonry8.jpg);
	
}

/*******        team area csss         *******/

.team{
	text-align:center;
}
.team p {
    font-size: 16px;
    color: #062033;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
}
.team-slider {
    margin-top: 80px;
    margin-bottom: 100px;
    padding-bottom: 70px;
}
.team-slider-picture{
	display:inline-block;
}

.team-slider-picture img{
	width:260px !important;
}
.team-slider-picture-content span{
	font-size:13px;
	color: #ababab;
}
.team-slider-picture-content h4{
	margin-top:15px;
	font-size:18px;
	color:#062033;
}

.team-slider-picture-hover{
	background-color: #1ab798;
	opacity: 0.9;
	position: absolute;
	top: 0;
	width: 260px;
	height: 289px;
	padding: 10px;
	transform:scale(0);
	transition:all 0.5s ease 0s;

}
.team-slider-picture-hover p{
	color:#fff;
	font-size:15px;
	margin-top: 15px;
	margin-bottom: 50px;
}

.team-slider-picture-hover h5{
	color:#fff;
	font-size:16px;
	font-weight: bold;
	line-height: 22px;
}
.team-s-icon ul li{
	list-style:none;
	display:inline-block;
	background-color:#12806a;
	height: 36px;
	width: 35px;
	line-height: 35px;
}
.team-s-icon ul li a{
	color:#fff;
	text-align:center;
}
.team-slider-picture:hover .team-slider-picture-hover{
	transform:scale(1);
	transition:all 0.5s ease 0s;
}

.team-slider-picture:hover .team-slider-picture-content h4{
	color:#0eb493;
}





/*******     team-slider css      *******/

.team-slider .owl-dots {
	position:absolute;
    text-align: center;
	left:0;
	right:0;
	bottom:-10px;
}
.team-slider .owl-dot {
    background:none;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid #999;
}
.team-slider .owl-dot.active {
    background: #062033;
	border: 1px solid #062033;
}

/*******     counter section css      *******/

.counter{
	background-image:url(image/counter-bg.jpg);
	/*! height:550px; */
	width:100%;
	background-size: cover;
	background-position: center;
}
.counter-iteam{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.counter-iteam h4{
	color:#fff;
}
.counter-icon{
	height:128px;
	width:128px;
	line-height:128px;
	border:1px solid #7c8088;
	border-radius:50%;
	text-align:center;
	font-size: 40px;
}
.c-icon{
	color:#fff;
}

.contact{}
.contact p{
	text-align:center;
	font-size:18px;
	margin-bottom: 40px;
}
.contact-left{}
.contact-left h4{
	color:#062033;
	margin-bottom:20px;
}
.contact-left ul li{
	list-style: none;
	font-size: 13px;
	color: #062033;
	line-height: 23px;
}
.contact-middle h2{
	margin-top:0;
	font-weight:bold;
	color:#062033;
}
.contact-form{
	border: none;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	resize: none;
}
.contact-button{
	text-align: right;
}
.contact-button i{
	font-size: 22px;
	color: #0eb493;
}
.contact-button a{
	font-size: 16px;
	padding: 5px 10px;
	color: black;
	text-align: center;
	margin-left: 5px;
	text-decoration: none;
}

.contact-button a:hover{
	text-decoration:none;
	color:#fff;
	background-color:#0eb493;
}
.contact-icon{
	text-align: center;
}
.contact-icon ul li{
	list-style: none;
	font-size: 20px;
	padding: 5px;
}
.contact-icon ul li a{
	color: #cdd2d6;
}

/*********      map area css         ********/
.map-style{
	margin:0;
	padding:0;
	border:none;
}

/*********      footer area css         ********/

.footer{
	padding:90px 0px;
	background-color:#1ea78d;
	border-top:5px solid #062033;
	color:#fff;
}
.footer-1 img{
	margin-bottom: 35px;
}
.footer-1 p{font-size: 13px;}

.footer-2 h5{
	margin-bottom: 40px;
	font-size:14px;
	font-weight: bold;
}
.sub{
	height: 40px;
	width:100%;
	background: none;
	border: 1px solid #fff;
	border-radius: 2px;
	padding:5px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sub input{
	background: none;
	border: none;
	height: 28px;
	width: 100%;
}
.sub i{
	
	margin: 7px;
}
.footer-2 p{
	margin-top: 18px;
	line-height:25px
}

.footer-3 h5{
	margin-bottom: 30px;
	font-size:14px; 
	font-weight: bold;
}
.site-link li{
	list-style: none;
	padding: 6px 0px
}
.site-link li a{
	color: #fff;
	
}
.explor-link{
	display: flex;
	justify-content: space-between;
}
.socail-link li{
	list-style: none;
	padding: 6px 0px;
	
}
.socail-link li a{
	color: #fff;
}
.footer-4{
	margin-top: 65px;
	font-size: 14px;
}


.copy-man {
	border-left: 2px solid #177e72;
	padding-left: 10px; 
	margin-bottom: 55px
}

.copy-man p i{
	color: green;
	font-size: 18px;
}
.copy-man p span{
	color: #062033;
}
.footer-4 h5{
	color:#062033;
}





